<html>
    <head>
        <title>Zingat Frontend Challenge</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="css/bootstrap.css">
        <script src="js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/style.css">
        <meta name="viewport" content="width=device-width, minimal-ui, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    </head>
    <body>
        <div class="container">
            <form action="/" method="post">
                <h1>Login</h1>

                <div class="form-group">
                    <input type="email" name="mail" class="form-control" id="exampleInputEmail1" placeholder="Enter email" >
                    
                </div>
                <div class="form-group">
                    <input type="password" name="pass" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                </div>

                <div class="checkbox">
                    <label> <input type="checkbox" name="remember" checked> Beni Hatırla </label>
                </div>
                <button type="submit" class="btn btn-success col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">Submit</button>
                <div class="form-check">

                </div>
            </form>
        </div>
     

    </body>
</html>